@font-face { font-family: ShareTech; src: url('ShareTechMono-Regular.ttf'); }

html { font-family: ShareTech, monospace; }
button { font-family: ShareTech, monospace; }

.main-grid {
    display: flex;
}

/*
 * CONTROLS
 */

.buttons {
    position: fixed;
    top: 0;
    right: 0;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 12px;
    background: white;
}

/*
 * TABS
 */

.tabs {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.tab {
    border: 1px black solid;
    padding: 6px 14px;
    cursor: pointer;
    background-color: lightgray;
}

.tab-selected {
    background: white;
    border-bottom: 0px;
}

.tab-empty {
    border-bottom: 1px black solid;
}

.tab-start {
    width: 24px;
}

.tab-middle {
    width: 12px;
}

.tab-end {
    width: 100%;
}

/*
 * PANELS
 */

.panel {
    padding: 16px;
}