.toolbar {
  position: fixed;
  top: 0;
  right: 0;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  padding: 12px;
  background: white;
  z-index: 100;
  box-shadow: 6px 6px 6px lightgray;
}
