.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row {
    display: flex;
    gap: 12px;
}

.register {
    flex-grow: 1;
}

.link {
    width: 100%;
    text-align: right;
    text-decoration: none;
    color: blue;
    font-size: 14px;
}