<template id="flat-data-template">

    <style>
        * { font-family: ShareTech, monospace; }

        .main {
            border: 1px solid black;
            padding: 16px;
            width: fit-content;
        }

        .title-row {
            display: flex;
            gap: 4px;
            align-items: baseline;
            margin-bottom: 24px;
        }

        .title {
            font-weight: bold;
            width: 200px;
        }

        .space-after {
            width: 22px;
            padding-right: 12px;
        }

        .address {
            font-weight: bold;
        }

        .data {
            text-align: center;
        }

        .error {
            background-color: lightcoral;
        }

        .highlighted {
            background-color: mediumspringgreen;
        }

        input { font-size: medium; }
        button { font-size: medium; }
        th {
            width: 22px;
            vertical-align: top;
        }
    </style>

    <div class="main">
        <div class="title-row">
            <div id="title" class="title">Title here</div>
            <label for="page">Page:</label>
            <button id="previous-page" title="Previous page">&lt;&lt;</button>
            <input id="page" type="text" size="6" value="0x0" style="text-align: right;">
            <button id="next-page" title="Next page">&gt;&gt;</button>
        </div>

        <table style="table-layout: fixed; border-collapse: collapse;">
            <thead>
            <tr>
                <th style="width: 54px; height: 28px;"></th>
                <th>_0</th><th>_1</th><th>_2</th><th>_3</th><th>_4</th><th>_5</th><th>_6</th><th class="space-after">_7</th>
                <th>_8</th><th>_9</th><th>_a</th><th>_b</th><th>_c</th><th>_d</th><th>_e</th><th class="space-after">_f</th>
                <th style="width: 150px; text-align: left;">ASCII</th>
            </tr>
            </thead>
            <tbody id="data-table"></tbody>
        </table>

        <slot></slot>
    </div>

</template>

<script>

    window.customElements.define("flat-data", class extends HTMLElement {

        constructor() {
            super();
            this.attachShadow({ mode: "open" })
            this.shadowRoot.appendChild($("flat-data-template").content.cloneNode(true));

            this.dataFetchCallback_ = undefined;
            this.highlightAddress = undefined;

            this.shadowRoot.getElementById("previous-page").addEventListener("click", () => this.#updatePage(-1));
            this.shadowRoot.getElementById("next-page").addEventListener("click", () => this.#updatePage(+1));
            this.shadowRoot.getElementById("page").addEventListener("input", (e) => this.#setPage(e.currentTarget.value));
            this.shadowRoot.getElementById("page").addEventListener("change", (e) => this.#updatePageInput());
        }

        connectedCallback() {
            this.page = parseInt(this.getAttribute("page") || 0);
            this.maxPages = parseInt(this.getAttribute("max-page"));
            this.rows = parseInt(this.getAttribute("rows"));
            this.shadowRoot.getElementById("title").innerText = this.getAttribute("title");

            let tbody = [];
            for (let row = 0; row < this.rows; ++row) {
                tbody.push(`<tr><td class="address" id="address_${row}">0000</td>`);
                for (let column = 0; column < 16; ++column)
                    tbody.push(`<td class="data ${(column === 7 || column === 15) ? "space-after" : ""}" id="data_${row}_${column}">00</td>`);
                tbody.push(`<td class="data" id="ascii_${row}">........ ........</td></tr>`);
            }
            this.shadowRoot.getElementById("data-table").innerHTML = tbody.join('');
        }

        set dataFetchCallback(d) {
            this.dataFetchCallback_ = d;
            this.update();
        }

        #updatePage(step) {
            if (isNaN(this.page)) {
                this.page = 0;
                this.shadowRoot.getElementById("page").classList.remove("error");
            } else {
                this.page += step;
                if (this.page < 0)
                    this.page = (this.maxPages - 1);
                if (this.page >= this.maxPages)
                    this.page = 0;
            }
            this.setAttribute("current-page", this.page);
        }

        #setPage(pageStr) {
            this.page = parseInt(pageStr, 16);
            if (isNaN(this.page) || this.page < 0 || this.page >= this.maxPages) {
                this.shadowRoot.getElementById("page").classList.add("error");
                this.page = NaN;
            } else {
                this.shadowRoot.getElementById("page").classList.remove("error");
            }
            this.update(false);
        }

        update(updateElement = true) {
            if (updateElement)
                this.#updatePageInput();

            if (isNaN(this.page))
                this.#updateTableAsError();
            else if (this.dataFetchCallback_)
                this.#updateTable();

            console.debug("flat-data updated");
        }

        #updatePageInput() {
            if (!isNaN(this.page))
                this.shadowRoot.getElementById("page").value = hex(this.page, 0, true);
        }

        #updateTable() {
            const data = this.dataFetchCallback_(this.page * this.rows * 16, this.rows * 16);
            for (let row = 0; row < this.rows; ++row) {
                let addr = (this.page * this.rows * 16) + (row * 16);
                this.shadowRoot.getElementById(`address_${row}`).innerText = hex(addr, 4);
                let ascii = [];
                for (let column = 0; column < 16; ++column) {
                    let i = (row * 16) + column;
                    const element = this.shadowRoot.getElementById(`data_${row}_${column}`);
                    element.innerText = hex(data[i]);
                    if (this.highlightAddress === (addr + column))
                        element.classList.add("highlighted");
                    else
                        element.classList.remove("highlighted");
                    ascii.push((data[i] < 32 || data[i] > 126) ? '.' : String.fromCharCode(data[i]));
                }
                this.shadowRoot.getElementById(`ascii_${row}`).innerText = ascii.join('');
            }
        }

        #updateTableAsError() {
            for (let row = 0; row < this.rows; ++row) {
                this.shadowRoot.getElementById(`address_${row}`).innerText = "XXXX";
                for (let column = 0; column < 16; ++column) {
                    const element = this.shadowRoot.getElementById(`data_${row}_${column}`);
                    element.classList.remove("highlighted");
                    element.innerText = "XX";
                }
                this.shadowRoot.getElementById(`ascii_${row}`).innerText = "xxxxxxxx xxxxxxxx";
            }
        }

        static get observedAttributes() {
            return ['current-page', 'highlight-address'];
        }

        attributeChangedCallback(prop, old, newValue) {
            if (prop === 'current-page') {
                this.page = parseInt(newValue);
            } else if (prop === 'highlight-address') {
                this.highlightAddress = parseInt(newValue);
            }
            this.update();
        }

    });

</script>

