@mixin td {
  border: 0;
  padding-right: 8px;
  padding-left: 8px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.code {
  border: 1px black solid;
  border-collapse: collapse;
  table-layout: fixed;
  min-height: 600px;
  height: 100%;
  box-shadow: 6px 6px 6px lightgray;
}

.breakpoint {
  @include td;
  width: 21px;
  padding: 0;
  border-right: 1px black solid;
  cursor: pointer;
}

.address {
  @include td;
  width: 35px;
  border-right: 1px black solid;
  font-weight: bold;
}

.line {
  @include td;
  min-width: 500px;
  max-width: 500px;
  overflow-x: hidden;
  white-space: nowrap;
}

.bytes {
  @include td;
  border-left: 1px black solid;
  min-width: 120px;
  max-width: 120px;
}

.lastLine {
  height: 100%;
}

.comment {
  color: forestgreen;
}

.macro {
  color: orange;
}